<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link href="./css/index.css" rel="stylesheet">
</head>

<body>
  <div class="main">
    <div class="content">
      <div class="logo">
        <img src="./images/login.svg" alt="">
        <h1 class="title">Telegram Media Downloader</h1>
        <div class="tips">enter your password.</div>
      </div>
      <div class="password-input">
        <input type="password" class="input-p" placeholder="please enter your password">
        <div class="tip">Your password</div>
      </div>
    </div>
  </div>
</body>

</html>